<!-- Navegação para acessar as listas criadas -->
<nav id="menu">
	<!-- Imagem de expandir e reduzir menu -->
	<div class="logo">
		<i class="fa-solid fa-bars menu-icon"></i>
		<%= link_to root_path, class: "no-underline" do%>
			<span class="title">TO DO List App</span>
		<% end %>
	</div>

	<div class="menu-options">
		<% if user_signed_in? %>
			<div class="profile">
				<%= link_to edit_user_registration_path do %>
					<i class="fa-solid fa-user"></i>
				<% end %>
			</div>
			<div class="logout">
				<%= button_to "Sair", destroy_user_session_path, method: :delete %>
			</div>
		<% else %>
			<div class="login">
				<%= link_to "Logar", new_user_session_path %>
			</div>
			<div class="sign-up">
				<%= link_to "Criar conta", new_user_registration_path %>
			</div>
		<% end %>
	</div>
	
	<div class="sidebar">
		<!-- Imagem de expandir e reduzir menu -->
		<div class="logo">
			<i class="fa-solid fa-bars menu-icon"></i>
			<%= link_to root_path, class: "no-underline" do%>
				<span class="title">TO DO List App</span>
			<% end %>
		</div>
		<div class="sidebar-content">
			<% if user_signed_in? %>
				<!-- Lista com o nome das listas de to do -->
				<ul id="lists-list-menu">
					<% @sidebar_lists.each do |list| %> 
						<li class="list-menu">
							<%= link_to list_path(list), class: "nav-link" do %>
								<span class="list-link"><%= list.name %></span>
							<% end %>
						</li>
					<% end %>
				</ul>
				<div id="new-list">
					<!-- Opção de criação de nova lista -->
					<li class="list-menu">
						<%= link_to new_list_path, class: "nav-link" do %>
							<i class="fa-solid fa-plus icon"></i>
							<span class="list-link">Nova lista</span>
						<% end %>
					</li>
				</div>
			<% else %>
				<div id="msg-login-sidebar">
					<p>Para acessar as listas, <%= link_to "faça login", new_user_session_path %> ou <%= link_to "crie uma conta", new_user_registration_path %></p>
				</div>
			<% end %>
		</div>
	</div>
</nav>